In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import date, timedelta
from pandas import Timestamp
import pprint

In [3]:
df = df = pd.read_csv('~/DataAnalysis/client_specific_data_0110_0104/1009_current_all_data.csv')
dt_ts = pd.read_csv('~/DataAnalysis/client_specific_data_0110_0104/client_1009_1_total_actions_per_day.csv')
dt_ts_sorted = dt_ts.sort_values(by="date")
dt_ts_sorted['date'] = pd.to_datetime(dt_ts_sorted['date'])
dt_ts_trimmed = dt_ts_sorted.drop(['Unnamed: 0'], axis=1)

dt_ts_trimmed['date_ts'] = pd.to_datetime(dt_ts_trimmed['date'])

new_index = dt_ts_trimmed.set_index('date_ts')
new_index_trimmed = new_index.drop(['date'], axis=1)

print new_index_trimmed

row_iterator = new_index_trimmed.iterrows()

date_total_real_dict = {}

for index, value in row_iterator:
#     print ('value', value.total_per_day)
    date_total_real_dict[index] = value.total_per_day
    
print date_total_real_dict

for index in date_total_real_dict:
    print index
    
    
    
# I am completely lost as to what I am doing here!!!


    
    
    
    
# pprint.pprint (date_total_real_dict)

#  for some reason using a to_dict object you can't access the key value pairs
# date_total_dict = new_index_trimmed.to_dict
# for i in date_total_dict:
#     print d.keys(i), d.items(i)



# iterable_test = new_index_trimmed.iteritems()
# print iterable_test.next()
# # for index, item in new_index_trimmed.iteritems():
    

    
# # print date_total_real_dict

# # a_real_dict = {"test": 1}
# # print a_real_dict

            total_per_day
date_ts
2017-08-21         667152
2017-08-22         662997
2017-08-23         632231
2017-08-24         667342
2017-08-25         600879
2017-08-26         485079
2017-08-27         504541
2017-08-28         669463
2017-08-29         682039
2017-08-30         640429
2017-08-31         682032
2017-09-01         615589
2017-09-02         507644
2017-09-03         495182
2017-09-04         500335
2017-09-05          62597
{Timestamp('2017-09-05 00:00:00'): 62597, Timestamp('2017-08-31 00:00:00'): 682032, Timestamp('2017-09-01 00:00:00'): 615589, Timestamp('2017-08-27 00:00:00'): 504541, Timestamp('2017-09-04 00:00:00'): 500335, Timestamp('2017-08-28 00:00:00'): 669463, Timestamp('2017-08-21 00:00:00'): 667152, Timestamp('2017-08-24 00:00:00'): 667342, Timestamp('2017-08-22 00:00:00'): 662997, Timestamp('2017-08-29 00:00:00'): 682039, Timestamp('2017-09-03 00:00:00'): 495182, Timestamp('2017-08-25 00:00:00'): 600879, Timestamp('2017-08-30 00:00:00'): 640429, Timestamp('2017-08-23 00:00:00'): 632231, Timestamp('2017-08-26 00:00:00'): 485079, Timestamp('2017-09-02 00:00:00'): 507644}
2017-09-05 00:00:00
2017-08-31 00:00:00
2017-09-01 00:00:00
2017-08-27 00:00:00
2017-09-04 00:00:00
2017-08-28 00:00:00
2017-08-21 00:00:00
2017-08-24 00:00:00
2017-08-22 00:00:00
2017-08-29 00:00:00
2017-09-03 00:00:00
2017-08-25 00:00:00
2017-08-30 00:00:00
2017-08-23 00:00:00
2017-08-26 00:00:00
2017-09-02 00:00:00

In [4]:
df_trimmed =  df.drop(['Unnamed: 0','jobs', 'total_cost', 'total_time_in_queue', 
                         'total_time_under_calculation', 'total_time_waiting',
                         'total_time_waiting', 'total_time_under_calculation',
                         'total_cost','totalrowcount', 'spot_total', 
                         'spot_granularity_1', 
                         'workticket_scheduled', 'workticket_started', 'workticket_finished'], axis=1)
df_trimmed.head()

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,modelrowcount,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8

In [5]:
mask = df_trimmed['cluster_info'].str.contains('clone', na=False)
rem_clones = df_trimmed[mask == False]
rem_clones

rename = rem_clones.rename(columns={'modelrowcount': 'total_number_of_spots'})
rename.dropna(subset=['slug'], inplace=True)

rename

,brandid,clientid,cluster_info,diffuse,jobcount,jobpriority,lag,lag_actions,last_job,last_job_time,...,micro,total_number_of_spots,origin,rawsize,slug,spot_duration,spot_finish,spot_start,workticket_duration,workticketid
0,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1823,US(2),502000000000,lending-tree,604800.0,2017-09-24 00:00:00.000,2017-09-18 00:00:00.000,122608.660,59cebd761248df056c8c085c
1,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,1661,US(2),502000000000,lending-tree,604800.0,2017-09-03 00:00:00.000,2017-08-28 00:00:00.000,65562.454,59b82c7e561f832c7ee87cba
2,2,1009,{u'4': 1},False,41,1008.88,True,4,INF.SCRUBDB,6343.018,...,True,1876,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42198.699,59aee2dfb712c9041b3f1c91
3,2,1009,{u'4': 1},False,39,1009.01,True,4,INF.SCRUBDB,226.374,...,True,1830,US(2),502000000000,lending-tree,604800.0,2017-08-06 00:00:00.000,2017-07-31 00:00:00.000,212555.143,59c9b05bf55c740fa7923d86
4,2,1009,{u'4': 1},False,41,5001.98,True,4,INF.SCRUBDB,5010.086,...,True,120,US(2),502000000000,lending-tree,432000.0,2016-12-30 00:00:00.000,2016-12-26 00:00:00.000,61587.176,59b83c0f3b34c92fb48d10e8
5,2,1009,{u'4': 1},False,41,1008.98,True,4,INF.SCRUBDB,6343.018,...,True,1961,US(2),502000000000,lending-tree,604800.0,2017-08-27 00:00:00.000,2017-08-21 00:00:00.000,42177.458,59af0a96561f83042d5d64fc
6,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1723,US(2),502000000000,lending-tree,604800.0,2017-09-10 00:00:00.000,2017-09-04 00:00:00.000,122307.715,59cebe9d1248df67c88c0888
7,2,1009,{u'4': 1},False,40,1010.87,True,4,INF.SCRUBDB,5135.626,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,122202.696,59cebf0db44d6f53adb7bdb3
8,2,1009,{u'4': 1},False,40,5003.00,True,4,INF.SCRUBDB,11044.039,...,True,1932,US(2),502000000000,lending-tree,604800.0,2017-09-17 00:00:00.000,2017-09-11 00:00:00.000,291169.676,59d2789b830bd8042cede23d

In [6]:
rename['spot_start'] = pd.to_datetime(rename['spot_start'])
rename['spot_finish'] = pd.to_datetime(rename['spot_finish'])
# rename['spot_finish'] = pd.to_datetime([rename['spot_finish'])

print (rename.dtypes)

brandid                           int64
clientid                          int64
cluster_info                     object
diffuse                            bool
jobcount                          int64
jobpriority                     float64
lag                                bool
lag_actions                       int64
last_job                         object
last_job_time                   float64
max_lag                           int64
micro                              bool
total_number_of_spots             int64
origin                           object
rawsize                           int64
slug                             object
spot_duration                   float64
spot_finish              datetime64[ns]
spot_start               datetime64[ns]
workticket_duration             float64
workticketid                     object
dtype: object

In [17]:
d1 = pd.Series(rename['spot_start'])
d2 = pd.Series(rename['spot_finish'])

start_date = datetime(d1.iloc[0])
end_date = datetime(d2.iloc[0])

print (start_date, end_date)

TypeError: an integer is required

In [12]:
for index, row in rename.iterrows():
    d1 = row['spot_start'], 
    print ("d1", d1)
    d2 = row['spot_finish'],
    print ("d2", d2)
#     
dd =[d1 + timedelta(days=x) for x in range((d2 - d1).days + 1)]
    
#     day_list = []
#     for d in dd:
#         day_list.append(d)
#     for x in day_list:
#         print x
#         for y in dictator['date']:
#             print y
# #             if (x == dictator['date'][y]):
# #                 print dictator['total_per_day'][y]
# #             session_spots += dictator['total_per_day'][y]

('d1', (Timestamp('2017-09-18 00:00:00'),))
('d2', (Timestamp('2017-09-24 00:00:00'),))
('d1', (Timestamp('2017-08-28 00:00:00'),))
('d2', (Timestamp('2017-09-03 00:00:00'),))
('d1', (Timestamp('2017-08-21 00:00:00'),))
('d2', (Timestamp('2017-08-27 00:00:00'),))
('d1', (Timestamp('2017-07-31 00:00:00'),))
('d2', (Timestamp('2017-08-06 00:00:00'),))
('d1', (Timestamp('2016-12-26 00:00:00'),))
('d2', (Timestamp('2016-12-30 00:00:00'),))
('d1', (Timestamp('2017-08-21 00:00:00'),))
('d2', (Timestamp('2017-08-27 00:00:00'),))
('d1', (Timestamp('2017-09-04 00:00:00'),))
('d2', (Timestamp('2017-09-10 00:00:00'),))
('d1', (Timestamp('2017-09-11 00:00:00'),))
('d2', (Timestamp('2017-09-17 00:00:00'),))
('d1', (Timestamp('2017-09-11 00:00:00'),))
('d2', (Timestamp('2017-09-17 00:00:00'),))

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [9]:
# here I am trying to total all the session data over the load spots daterange
# I am creating a list of all the days between the start and finish spots dates 

d1 = pd.Series(rename['spot_start'])
# rename['spot_finish'] = pd.to_datetime(rename['spot_finish'])
d2 = pd.Series(rename['spot_finish'])

d1_it = d1.iteritems()


print date_total_dict

for index, item in d1.iteritems():
#     print ("here", index, item)
#     print d2[index]
    start_date = item
    finish_date = d2[index] 
    date_range = [start_date + timedelta(days=x) for x in range((finish_date - start_date).days + 1)]
    day_range_total = 0
    for d in date_range:
        print d


# print date_total_dict

test_dict = {'2017-08-29': 682039}

# print test_dict
        
# dd = [d1[2] + timedelta(days=x) for x in range((d2[2]-d1[2]).days + 1)]

# # print(dd)

# for d in dd:
#     day_list.append(d)
    
# # this creates my date_list here!
# # might be a better way of doing this using groupby again!

# session_spots = 0

# for x in day_list:
#     for y in dictator['date']:
#         if (x == dictator['date'][y]):
#             print dictator['total_per_day'][y]
#             session_spots += dictator['total_per_day'][y]
# # print ("total", session_spots)

NameError: name 'date_total_dict' is not defined

In [ ]:
d1